html, body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	height:100%;
	scroll-behavior: smooth;
}
.hide{
	color:white;
}
h4{
	margin:0;
}
#portfolio a:link{
	color:black;
	font-size:20px;
}
#portfolio a:hover{
	color:skyblue;
	font-size:20px;
}
a:link {
  color:rgba(255,255,255,.5);
  text-decoration: none;
}
a:visited {
  color:rgba(255,255,255,.5);
}
a:hover {
  color:rgba(255,255,255,.5);
  font-size:18px;
}
a:active {
  color:rgba(255,255,255,.5);
}
.sidebar{
	width:260px;
	background-color:darkred;
	height:100%;
	position:fixed;
	text-align:center;
	text-transform:uppercase;
	font-weight:600;
}
.sidebar div{
	color:rgba(255,255,255,.5);
}
.contentsItem{
	margin-top:4vh;
}
.sidebar img{
	width:150px;
	height:150px;
	border-radius:50%;
	border:10px solid rgba(211,211,211,.3);
}
#sideAdjust{
	height:35vh;
}
#profile{
	width:70vw;
	text-align:justify;
	margin-top:20px;
}
.mainBody{
	/*display:grid;*/
	/*grid-template-columns: 300px auto;*/
	height:100%;
	padding-right:30px;
	padding-left:300px;
}
.content{
	/*grid-column-start:2;*/
}
#name h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:80px;
	margin:5vh 0 0 0;
}
#details{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	margin:0;
}
.secondt{
	color:darkred;
}
.box{
	height:100%;
	padding:30vh 0 30vh 0;
}
.box p {
	margin:0;
}
.title{
	margin-top:30vh;
}
.boxlast{
	padding:50vh 0 50vh 0;
}
.boxlast ul li{
	font-family: 'Open Sans', sans-serif;
}
.edh3{
	text-transform: uppercase;
}
h3{
	margin:0;
}
.dates {
	font-weight:lighter;
	font-size:15px;
	font-style:italic;
}
#footer{
	margin-top:150px;
}
ul li {
	margin-bottom:8px;
}
p {
	line-height:1.6;
}
#specialBackground{
	background-image:url(images/bg.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	height:100%; 
	width:100vw; 
	position:fixed; 
	z-index:-1; 
	opacity:0.3;
	margin-left:10vw;
}
#phoneimg{
	display:none;
}
@media only screen and (max-width: 500px) {
	body{
		text-align:center;
		margin:0;
		padding:0 10px 0 0;
	}
	body p{
		margin:0;
	}

  .sidebar {
    display:none;
  }
  .mainBody{
  	width:100%;
  	margin:0;
  	padding:10px;
  }
  #specialBackground{
  	margin:0;
  	width:100%;
  	margin-left:0;
  }
  .content{
  	margin:0;
  	padding:0;
  	width:100%;
  }
  .box{
  	width:100%;
  	margin:0;
  	padding:0;
  }
  #profile{
  	margin:0;
  	padding:0;
  	width:100%;
  }
  #phoneimg{
  	display:block;
  }
  #phoneimg img{
  	margin-top:20px;
  	width:200px;
  	height:200px;
  	border-radius:50%;
  }
}
